/* Outfit */
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    /* text-transform: capitalize; */
}

body {
    font-family: "Outfit", sans-serif;
}

:root {
    --yellow: #fcd978;
    --main-orange: #f29c52;
    --main-brown: #492d13;
    --link-color: #493d13;
    --home-bg-color: #fff5ed;
}

/* Start Navbar */
a {
    color: var(--main-brown) !important
}

/* nav {
    padding: 20px !important;
} */

.main-nav {
    /* background-color: #fff5ed; */
    background-color: white;
}

.my-btn {
    background-color: var(--main-orange);
    padding: 8px 27px;
    border-radius: 40px;
    position: relative;
    top: -1px;
    transition: .5s;
    color: var(--link-color);
    border: none;
    font-weight: 600;
}

.my-btn:hover {
    background-color: var(--main-brown);
    color: white;
}

.my-btn:active {
    background-color: #a17853;
}

.my-btn:focus {
    box-shadow: none;
}

.cart-icon {
    width: 50px;
    height: 50px;
    border: 2px dashed var(--home-bg-color);
    border-radius: 50px;
    padding: 1px;
    margin-right: 10px;
}

.cart-icon>img {
    position: relative;
    top: 9px;
    left: 12px;
    width: 20px;
}

.nav-link {
    font-weight: 550;
    font-size: 17px;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: var(--main-orange) !important;
    transition: .5s;
}

.navbar-brand {
    margin-top: -10px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 2.3rem;
}

.navbar-brand span:first-child {
    color: var(--main-brown);
}

.navbar-brand span:last-child {
    color: var(--main-orange);
}

/* End Navbar */

/* Start Slider Section */
.slider {
    /* background-color: var(--home-bg-color); */
    width: 100%;
}

.slider .slider-bg {
    background-image: url(images/hero-bg-pattern.png);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 100%;
    /* Fill parent height */
    background-size: cover;
    /* Make background image cover the area */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent tiling */
}

.carousel-1 {
    background-image: url(images/Slider-images/Slider-1.png);
    background-position: bottom;
}

.carousel-2 {
    background-image: url(images/Slider-images/Slider-2.png);

}

.carousel-3 {
    background-image: url(images/Slider-images/Slider-3.png);
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    background: color-mix(in srgb, #383838, transparent 15%);
    /* backdrop-filter: blur(5px); */
    top: 0;
    left: 0;
    /* opacity: 0.5; */
    z-index: 1;
}

.carousel-caption {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    /* backdrop-filter: blur(2px); */
}
.carousel-caption h1 {
    font-size: 3.5rem;
    font-weight: 600;
}
.carousel-caption p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* End Slider Section */