<!-- templates/home.html -->
{% extends "layout.html" %}
    <!-- ------------------Start Slider------------------ -->
    {% block content %}
    <div class="slider">
        <div class="slider-bg">
            <div id="carousel-Controls" class="carousel slide" data-ride="carousel">
                <div class="layer"></div>
                <div class="carousel-inner">
                    <div class="carousel-item active carousel-1">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Welcome to our Bakery</h1>
                            <p>Fresh from our Oven to Your Heart</p>
                            <a class="btn my-btn" href="#products">Shop Now</a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-2">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Welcome to our Bakery</h1>
                            <p>Baked with Love, Served with a Smile</p>
                            <a class="btn my-btn" href="#products">Shop Now</a>
                        </div>
                    </div>
                    <div class="carousel-item carousel-3">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Welcome to our Bakery</h1>
                            <p>Where Every Bite Tells a Sweet Story</p>
                            <a class="btn my-btn" href="#products">Shop Now</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carousel-Controls" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carousel-Controls" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- ------------------End Slider------------------ -->

    <!-- ------------------Start Cards------------------ -->
    <div class="main-container container-fluid">
        <h2 class="section-head" id="products">Our Products</h2>
        <div class="cards container text-center">
            <div class="row">
                <!-- --1 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img src="../static/images/croissant-image-1.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">croissant</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- --2 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img id="cinnamon" src="../static/images/cinnamon-roll-image-2.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">cinnamon roll</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --3 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img id="muffin" src="../static/images/blueberry-muffin-image-3.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">blueberry muffin</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --4 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img id="pound" src="../static/images/pound-cake-image-4.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">pound cake</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --5 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img src="../static/images/chocolate-chip-cookie-image-5.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">chocolate chip cookie</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --6 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img src="../static/images/danish-pastry-image-6.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">danish pastry</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --7 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img src="../static/images/chocolate-cake-image-7.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">chocolate cake</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                            <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                        </div>
                    </div>
                </div>

                <!-- --8 -->
                <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card inner-card">
                        <div class="card-image">
                            <img src="../static/images/apple-pie-image-8.png" alt="">
                        </div>
                        <div class="card-details">
                            <p class="card-name">apple pie</p>
                            <p class="card-price"><span>$ 2.00 USD</span> $ 2.00 USD</p>
                        </div>
                        <button class="btn my-btn cart-btn" type="submit">add to cart</button>
                    </div>
                </div>
                <!-- ------------------------------ -->
            </div>
        </div>
    </div>
    <!-- ------------------End Cards------------------ -->
    {% endblock %}