{% extends 'layout.html' %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='custom/dashboard.css') }}" />
{% endblock %}

{% block content %}
<div class="card-body p-0 table-responsive content margin-top">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>City</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
            <tbody class="text-center">           
                {%for  user in users%}
                    <tr class="align-middle">
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td>{{ user[6] }}</td>
                    <td>
                    <a class="btn btn-primary text-white" href="#">Edit</a>
                    </td>
                    <td>
                    <form action="{{url_for('delete_user', user_id=user[0])}}" method="post">
                        <button class="btn bg-danger text-white" type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                {%endfor%}                          
        </tbody>
    </table>
</div>
{% endblock %}
